---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/astro/HorizontalCard.astro'
import { getCollection } from 'astro:content'
// POSTS
const posts = (await getCollection('blog')).sort((a: any, b: any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())

const LAST_POSTS = posts.slice(0, 3)

// PROYECTOS
interface Project {
  id: number
  name: string
  full_name: string
  private: boolean
  owner: Owner
  html_url: string
  description?: string
}

interface Owner {
  login: string
  id: number
  node_id: string
  avatar_url: string
}

var myHeaders = new Headers()
myHeaders.append('Authorization', `Basic ${import.meta.env.GITHUB_API_SECRET_KEY}`)

const API_CALL = await fetch(import.meta.env.GITHUB_API_URL + '?per_page=3&sort=-1', {
  method: 'GET',
  headers: myHeaders,
})

const LAST_PROJECTS: Project[] = await API_CALL.json()
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Holaa 👋</div>
    <div class="text-5xl font-bold">Soy Simón Clemente</div>
    <div class="text-3xl py-3 font-bold"><b>¡Bienvenido a mi portafolio!</b></div>
    <div class="py-2">
      <text class="text-lg">
        Soy un <b>ingeniero electrónico y desarrollador web backend</b> con habilidades en <b>frontend</b>. Me apasiona crear contenido relacionado
        con la programación y también tengo experiencia en el <b> desarrollo de hardware con IoT</b>. Acompáñame mientras exploramos mi trabajo y
        proyectos.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-neutral" href="https://drive.google.com/file/d/1s9kR5wdZbc3rOIuTlU93c-i7oUTRDIO5/view?usp=drive_link" target="_blank"
        >Descarga CV 📋</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis últimos proyectos 🧰</div>
    <p>Descubre los proyectos en los que he trabajado recientemente.</p>
  </div>

  <div class="carousel carousel-center max-w-[100%] p-4 space-x-1">
    {
      LAST_PROJECTS.map((project: Project) => (
        <div class="carousel-item w-full">
          <HorizontalCard
            title={project.name}
            img={'/projects/patterns' + (Math.floor(Math.random() * 10) + 1) + '.png'}
            desc={project.description}
            url={project.html_url}
            target="default"
          />

          <div class="divider my-0" />
        </div>
      ))
    }
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Mis últimos posts 📰</div>
    <p>En mi blog escribo sobre las cosas que me parecen intersantes, te invito a darle un vistazo.</p>
  </div>

  <div class="carousel carousel-center max-w-[100%] p-4 space-x-1">
    {
      LAST_POSTS.map((post) => (
        <div class="carousel-item w-full">
          <HorizontalCard
            title={post.data.title}
            img={'/projects/patterns' + (Math.floor(Math.random() * 10) + 1) + '.png'}
            desc={post.data.description}
            url={'/blog/' + post.slug}
            target="_self"
          />
          <div class="divider my-0" />
        </div>
      ))
    }
  </div>
</BaseLayout>
